nav {
  background-color: blue;
}

nav > ul > li {
  display: inline;
  margin: auto;
  padding: 5px;
}

a {
  color: white;
}

.active {
  color: red;
  text-decoration: none;
}

ul {
  display: inline-block;
}

#greeting {
  right: 5%;
  margin-left: auto;
  position: absolute;
  top: 26px;
}
