a {
  color: white;
  margin: 5px 5px;
  text-decoration: none;
}

.header {
  height: 20px;
  background-color: blue;
  opacity: 1;
  top: 0;
}

#signIn {
  top: 5px;
  right: 20px;
}

#signUp {
  top: 5px;
  right: 10px;
}

#loginPage {
  background-image: url('../../assets/images/library_books.jpeg');
  background-repeat: initial;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}
