<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<form>

  <div class="container">
    <span id="title">Snehbhumi</span>    
    <div class="input-container">
      <i class="fa fa-user icon"></i>
      <input type="text" name="username" placeholder="Enter Username">
    </div>
    <div class="input-container">
        <i class="fa fa-unlock-alt icon"></i>
      <input type="password" name="password" placeholder="Enter Password">
    </div>

    <button type="submit" class="btn">Login</button>

    
  </div>
</form>