.container {
  text-align: center;
  margin: auto;
  border: 1px solid #fff;
  background-color: #314d80;
  width: 200px;
  height: 150px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5%;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  /* overflow: auto; */
}

/* label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2%;
  margin: 2%;
} */

#title {
  font-size: 20px;
  color: white;
}

input {
  min-height: 15px;
  height: 20px;
  padding: 4%;
  margin: 1%;
  width: 72%;
  border: none;
}

/* Styling for icons*/

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: green;
  color: white;
  min-width: 5%;
  text-align: center;
  height: 14px;
  margin: 1%;
  padding-top: 6%;
}

/* Set a style for the submit button */
.btn {
  background-color: green;
  color: white;
  /* padding: 0%; */
  border: none;
  cursor: pointer;
  width: 98%;
  opacity: 0.8;
  height: 24%;
}

.btn:hover {
  opacity: 1;
}