<form #customerForm="ngForm" (ngSubmit)="customerForm.valid && onSubmit(customerForm)" autocomplete="off">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div><label>Last name</label></div>
        <input class="form-control" type="text" #lastName="ngModel" [(ngModel)]="customer.lastName" name="lastName" required />
      </div>

      <div class="col-3">
        <div><label>First name</label></div>
        <input class="form-control" type="text" #firstName="ngModel" [(ngModel)]="customer.firstName" name="firstName" required />
      </div>

      <div class="col-3">
        <div><label>Middle name</label></div>
        <input class="form-control" type="text" #middleName="ngModel" [(ngModel)]="customer.middleName" name="middleName" required
        />
      </div>

      <div class="col-3">
        <label>Date of Birth</label>
        <input class="form-control" type="date" #dob="ngModel" [(ngModel)]="customer.dob" name="dob" required />
      </div>
    </div>
    <!--row 1 ends-->
    <!-- Row 2-->
    <div class="row">
      <div class="col-6">
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="genderMale" name="customer.gender" #genderMale="ngModel" [(ngModel)]="customer.gender">Male
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="genderFemale" name="customer.gender" #genderFemale="ngModel" [(ngModel)]="customer.gender">Female
          </label>
        </div>
      </div>
      <div class="col-6">
        <div><label>Address</label></div>
        <input class="form-control" type="textarea" rows="3" #address="ngModel" [(ngModel)]="customer.address" name="address" />
      </div>
    </div>
    <!--Row 2 ends-->
    <!-- Row 3 start-->
    <div class="row">
      <div class="col-3">
        <div><label>Mobile number</label></div>
        <input class="form-control" type="number" #mobileNumber="ngModel" [(ngModel)]="customer.mobileNumber" name="mobileNumber"
          max="9999999999" required />
      </div>

      <div class="col-3">
        <div><label>Email ID</label></div>
        <input class="form-control" type="text" #emailId="ngModel" [(ngModel)]="customer.emailId" name="emailId" required />
      </div>

      <div class="col-3">
        <div><label>Education</label></div>
        <input class="form-control" type="text" #education="ngModel" [(ngModel)]="customer.education" name="education" />
      </div>

      <div class="col-3">
        <label>Occupation</label>
        <input class="form-control" type="text" #occupation="ngModel" [(ngModel)]="customer.occupation" name="occupation" />
      </div>
    </div>

    <!-- Row 3 ends-->
    <div class="row">
      <div class="col-3">
        <label>Date of Membership</label>
        <input class="form-control" type="date" #dateOfMembership="ngModel" [(ngModel)]="customer.dateOfMembership" name="dateOfMembership"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="submit" class="btn btn-success btn-block" name="addCustomer" value="Add Customer" />
      </div>
    </div>
  </div>
</form>

<div class="success" *ngIf="showSuccessMessage">Record saved successfully!</div>
<div class="error" *ngIf="serverErrorMessages">{{serverErrorMessages}}</div>